<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{% if site.name %}{{ site.name }} - {% endif %}City of Santa Monica</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        {% for script in site.webfontjs %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
                
        <link href="{{ site.baseurl }}/common/css/base.css" rel="stylesheet"/>
        
        {% for css in site.localcss %}
        <link href="{{ css }}" rel="stylesheet"></script>
        {% endfor %}
    
        {% for css in page.customcss %}
        <link href="{{ css }}" rel="stylesheet"></script>
        {% endfor %}
        
        <link rel="shortcut icon" href="{% if site.favicon %}{{ site.favicon }}{% else %}{{ site.baseurl }}/common/img/favicon.ico{% endif %}">
                
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>    
    <body>
        <div class="container">
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/{{ site.baseurl }}">{{ site.name }}</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                        {% include primary-nav.html %}    
                        </ul>
                        <form class="navbar-form navbar-right" action="{{ site.baseurl }}/search.html" method="GET" role="search">
                            <input class="form-control" name="q" type="text" placeholder="Search this site">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="site-content">
                {{ content }}
            </div>
            
            <footer class="site-footer">
                <div>
                    {% if site.footernav %}
                    <nav class="footer">
                    {% include {{ site.footernav }} %}
                    </nav>
                    {% endif %}
                    <div>
                        <p>City of Santa Monica &copy; {{ site.time | date: "%Y" }}</p>
                        {% if site.attribution %}
                        {% include {{ site.attribution }} %}
                        {% endif %}
                        <p>Website produced by the City of Santa Monica Web Development Division</p>
                    </div>
                </div>
            </footer>            
        </div>
        
        {% if site.gacode %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.ga_tracking_code }}']);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" charset="utf-8"></script>
        
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        {% for script in site.localjs %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}

        {% for script in page.customjs %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </body>
</html>